services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      # dockerfile: Dockerfile.Migrations
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__WhitelabelContext: Host=database;Port=5432;Database=postgres;User Id=postgres;Password=postgres;
      JwtConfig__Issuer: Devs
      JwtConfig__Audience: AudienceDevs
      JwtConfig__Expiration: 2
      JwtConfig__SecretKey: testedechaveapenasparatestarporquesim
      JwtConfig__LongTermToken: true
      OtpConfig__Issuer: WhiteLabelDosDevs
    volumes:
      - securityData:/home/app/.aspnet/DataProtection-Keys
    ports:
    - 8080:8080
  database:
    image: postgres:18
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
    - 5432:5432

volumes:
  securityData: